<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>kunge2020Servlet_day11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectAllUserServlet</display-name>
    <servlet-name>selectAllUserServlet</servlet-name>
    <servlet-class>web.selectAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectAllUserServlet</servlet-name>
    <url-pattern>/select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nextPageServlet</display-name>
    <servlet-name>nextPageServlet</servlet-name>
    <servlet-class>web.nextPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nextPageServlet</servlet-name>
    <url-pattern>/nextPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beforePageServlet</display-name>
    <servlet-name>beforePageServlet</servlet-name>
    <servlet-class>web.beforePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beforePageServlet</servlet-name>
    <url-pattern>/before</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nowPageServlet</display-name>
    <servlet-name>nowPageServlet</servlet-name>
    <servlet-class>web.nowPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nowPageServlet</servlet-name>
    <url-pattern>/now</url-pattern>
  </servlet-mapping>
</web-app>