<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('radio表格页')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "system/ticket";
        var datas = [[${@dict.getType('sys_normal_disable')}]];

		var id = [[${id}]];
        $(function() {
            var options = {
                url: prefix + "/history"+"?"+"id="+id,
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                columns: [{
		            radio: true
		        },
				{
					field : 'hHandlerUserName',
					title : '操作人'
				},
				{
					field : 'hUpdateTime',
					title : '操作时间'
				},
				{
					field : 'message',
					title : '操作'
				}]
            };
            $.table.init(options);
        });
        

    </script>
</body>
</html>
